.blue{
    color: blue;
}
body{
    margin: 0px 0px;
    padding: 0px 0px;
}

#maincontainer{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 70% 20%;
    grid-template-areas: 
    "header header header"
    "leftside photos albumlist"
    "leftside personalalbum albumlist";
    height: 100vh;
}

#header{
    grid-area: header;
    background-color: beige;
    margin: 0px 0px 5px 0px;
}
#leftside{
    grid-area: leftside;
    background-color: aliceblue;
    margin: 5px 5px 0px 0px;
}
#albumlist{
    grid-area: albumlist;
    background-color: antiquewhite;
    margin: 5px 0px 0px 5px;
}
#photolist{
    grid-area: photos;
    background-color: bisque;
    margin: 5px 0px 5px 0px;
}
#personalalbum{
    grid-area: personalalbum;
    background-color: blanchedalmond;
    margin: 5px 0px 0px 0px;
}
